.producto_detalle{
    background-color : #785ce9;
    color: white;
    padding: 0.5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.producto_titulo{
    font-size: 1rem;
    padding: 0;
    margin: 0;
}
.producto_precio{
    padding: 0;
    margin: 0;
}
.producto_agregar{
    outline: none;
    text-decoration: none;
    background-color:white;
    color: #785ce9;
    padding: 0.4rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid var(--clr-white);
    transition: background-color .2s, color .2s;
}
.producto_agregar:hover{
    border: 2px solid white;
    color: white;
    background-color: #785ce9;
}